body {
	min-height: 100%;
}

#content {
	max-width: 550px;
}

#content img {
	display: block;
	margin-bottom: 2rem;
	max-width: 200px;
}

.btn-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	margin: 5px;
	color: #fff;
}

.btn-contact > * {
	max-height: 100%;
	max-width: 100%;
	transform: scale(0.8,0.8);
	transition: transform .3s ease;
}

.btn-contact:hover > * {
	color: #fff;
	transform: scale(1.0,1.0);
}
