{{ define "content" }}
	{{ $work := site.Params.work }}
	{{ $play := site.Params.play }}


	<div class="page" data-split>
		<div class="row topbar">
			<span class="brand">
				<span class="brand-mark" aria-hidden="true">
					{{ with resources.Get "img/logo.svg" }}
						{{ .Content | safeHTML }}
					{{ end }}
				</span>
				{{ site.Params.brand }}
			</span>
			<button
				type="button"
				class="theme"
				data-theme-toggle
				aria-label="Toggle color scheme"
			>
				<span data-icon-for="system"
					>{{ partial "icon.html" (dict "name" "auto" "size" 13) }}</span
				>
				<span data-icon-for="dark" hidden
					>{{ partial "icon.html" (dict "name" "dark" "size" 13) }}</span
				>
				<span data-icon-for="light" hidden
					>{{ partial "icon.html" (dict "name" "light" "size" 13) }}</span
				>
				<span data-theme-label>auto</span>
			</button>
		</div>

		<div class="row split">
			<div class="side side-work">
				<p class="kicker">{{ $work.kicker }}</p>
				<h1 class="headline">
					{{ delimit $work.headline "<br>" | safeHTML }}
				</h1>
				<div class="lines">
					{{ range $work.lines }}
						<div>{{ . | safeHTML }}</div>
					{{ end }}
				</div>
				<div class="rule"></div>
			</div>

			<div class="portrait-wrap">
				<div class="seam" aria-hidden="true"></div>
				<img
					class="portrait"
					src="{{ "img/profile.webp" | absURL }}"
					width="216"
					height="216"
					alt="{{ site.Params.author }}"
				/>
			</div>

			<div class="side side-play">
				<p class="kicker">{{ $play.kicker }}</p>
				<h2 class="headline">
					{{ delimit $play.headline "<br>" | safeHTML }}<span
						class="caret"
						aria-hidden="true"
						>_</span
					>
				</h2>
				<div class="lines">
					{{ range $play.lines }}
						<div>{{ . | safeHTML }}</div>
					{{ end }}
				</div>
				<div class="rule"></div>
			</div>
		</div>

		<div class="row footer">
			<span class="whoami">{{ site.Params.whoami }}</span>
			<span class="links">
				{{ range site.Params.social }}
					<a
						class="icon-btn"
						href="{{ .url }}"
						rel="me noopener"
						aria-label="{{ .name }}"
					>
						{{ partial "icon.html" (dict "name" .icon "size" 17) }}
					</a>
				{{ end }}
				{{ with site.Params.cta }}
					<a class="cta" href="{{ .url }}">
						{{ .name }}{{ partial "icon.html" (dict "name" .icon "size" 12) }}
					</a>
				{{ end }}
			</span>
		</div>
	</div>
{{ end }}
